FastAPI         #	Web API framework
Uvicorn	        #   Runs FastAPI server
python-multipart #	Handles file uploads
Motor	        #   Async MongoDB client
PyMongo	        #   Synchronous MongoDB client
OpenAI	        #   AI-based processing (e.g., text generation)
python-jose	    #   JWT authentication
PyPDF2	        #   Extracts text from PDFs
python-dotenv	#   Manages environment variables
pyjwt           #   For authentication
requests        #   for request mgmt